# URL base de la API de Discourse
DISCOURSE_API_BASE_URL=https://your-discourse-instance.com

# API Key de Discourse
DISCOURSE_API_KEY=your-api-key

# Nombre de usuario de Discourse
DISCOURSE_API_USERNAME=your-username

PORT=3008

MONGO_INITDB_DATABASE=academy
MONGO_INITDB_HOST=host.docker.internal
MONGO_INITDB_PORT=27017
MONGO_INITDB_ROOT_USERNAME=your-username
MONGO_INITDB_ROOT_PASSWORD=1234

IS_DEVELOP=true
